.signupContainer {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 90px;
  background-color: #dfdfdf;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn{
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    left: 180px;
    font-size: 18px;
}
